.interactive_map__edit_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 320px;
  border: 1px solid lightcoral;
  border-radius: 3px;
}

.interactive_map__wrapper img.map-placeholder__image {
  display: block;
  padding-left: 20px;
}

.interactive_map__wrapper div.map-placeholder__text {
  text-align: center;
}
