<div class="interactive-map-tool__wrapper">
  <div class="interactive-map-tool__region-wrapper">
    <h2>Region Data Management</h2>
    <div class="interactive-map-tool__region_content">
      <p>These tools allow you to export and import the region data files for the
        interactive map.</p>
      <p>This allows you to perform bulk updates of the region data and then
        re-upload it to the map definition
        using the following steps:</p>
      <ul>
        <li>Export the current region data to get the properly formatted CSV
          file.
        </li>
        <li>Make your edits to the CSV file.</li>
        <li>Upload the edited CSV file to replace the data in the map
          definition.
        </li>
      </ul>
    </div>
    <div class="interactive-map-tool__region_export">
      <a href="{{ state_export_path }}" class="button btn btn-primary">Export
        Region Data</a>
    </div>
    <div class="interactive-map-tool__region_import">
      <a href="{{ state_import_path }}" class="button btn btn-primary">Import
        Region Data</a>
    </div>
  </div>
  <div class="interactive-map-tool__group-wrapper">
    <h2>Group Data Management</h2>
    <div class="interactive-map-tool__group_content">
      <p>These tools allow you to export and import the group data records for
        the interactive map.</p>
      <p>This allows you to perform bulk updates of the group data and then
        re-upload it to the map definition
        using the following steps:</p>
      <ul>
        <li>Export the current group data to get the properly formatted CSV
          file.
        </li>
        <li>Make your edits to the CSV file.</li>
        <li>Upload the edited CSV file to replace the data in the map
          definition.
        </li>
      </ul>
      <div class="interactive-map-tool__group_export">
        <a href="{{ group_export_path }}" class="button btn btn-primary">Export
          Group Data</a>
      </div>
      <div class="interactive-map-tool__group_import">
        <a href="{{ group_import_path }}" class="button btn btn-primary">Import
          Group Data</a>
      </div>
    </div>
  </div>
</div>
