<div class="interactive_map__container">
  <div id="{{ map_id }}" class="interactive_map__wrapper"
       data-map-id="{{ map_id }}">
    <div class="interactive_map__map map-placeholder">{{ map }}</div>
    {% if show_description %}
      <div class="interactive_map__content">{{ map_content }}</div>
    {% endif %}
  </div>
</div>
