<div class="interactive-map--block">
  <div class="interactive-map--block__content">
    <div class="interactive-map--block__map">
      <div id="map">
        {{ map }}
      </div>
    </div>
    {% if show_description %}
      <div class="interactive-map--block__content__body">
        {{ description }}
      </div>
    {% endif %}
  </div>
</div>
